<div class=" h-full w-full">
<form [formGroup]="Studentgroup" class="form mt-3"  >

  <div class="bg-blue-400  border-2 formdiv">
    <table class="flex flex-column justify-content-evenly align-items-center overflow-auto h-[80%] w-[90%] ">
      <tr>
        <h1 >Student {{msg}}  Form</h1>
      </tr>

      <div class=" w-full flex justify-content-between gap-1  ">
        <tr >
          <th>ID</th>
          <td>  <p-inputNumber inputId="integeronly" formControlName="_id" ></p-inputNumber> </td>
        </tr>

        <tr>
          <th>Student First Name :</th>
          <td><input type="text" pInputText formControlName="_studentname"/></td>
        </tr>
        <tr>
          <th>Student Father Name :</th>
            <td><input type="text" pInputText formControlName="_student_father_name"/></td>
        </tr>
      </div>

      <div class=" w-full flex justify-content-between  justify-between ">
        <tr>
          <th>Student Last Name :</th>
          <td><input type="text" pInputText formControlName="_student_last_name"/></td>
        </tr>
        <tr>
          <th>Father Egucation :</th>
          <td><input type="text" pInputText formControlName="_student_father_egucation"/></td>
        </tr>
        <tr>
          <th>Father PhoneNumber :</th>
          <td><input type="text" pInputText formControlName="_student_father_phonenumber"/></td>
        </tr>

      </div>
      <div class=" w-full flex justify-content-between  justify-between ">


        <tr>
          <th> Gender : </th>
          <th class="gap-10">
            <p-radioButton  value="Male"  inputId="ingerdient" formControlName="_studentgender" ></p-radioButton>
            <label   class="ml-2">Male</label>
            <p-radioButton  value="Fmale"  inputId="ingerdient1" formControlName="_studentgender"></p-radioButton>
            <label class="ml-2">Fmale</label>
          </th>
        </tr>
        <tr>
          <th> STD : </th>
          <td>
            <p-inputNumber inputId="integeronly" formControlName="_studentstd"></p-inputNumber>
          </td>
        </tr>
      </div>

      <tr class="gap-2">
        <p-button type="submit" label="Save"  (click)="save()"  [rounded]="true"></p-button>
        <p-button label="Clear" type="reset" [rounded]="true" severity="danger"></p-button>


      </tr>
    </table>
  </div>


</form>
</div>
