

<div class="card">
  <p-table #dt1 [value]="studentservies.getstudent()" [tableStyle]="{ 'min-width': '50rem' }"
           [globalFilterFields]="['_id','_sname','_gender','_std']"
           [rows]="3"
           [showCurrentPageReport]="true"
           [rowsPerPageOptions]="[10, 25, 50]"
           [paginator]="true"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  >

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="_id">ID <p-sortIcon field="_id"></p-sortIcon></th>
        <th pSortableColumn="_sname">Student-Name <p-sortIcon field="_sname"></p-sortIcon></th>
        <th pSortableColumn="_gender">Gender <p-sortIcon field="_gender"></p-sortIcon></th>
        <th pSortableColumn="_std">STD <p-sortIcon field="_std"></p-sortIcon></th>
<!--        <th pSortableColumn="_ftname">Father name <p-sortIcon field="_ftname"></p-sortIcon></th>-->

        <th>Action</th>
      </tr>
      <tr>
        <th>
          <p-columnFilter type="numeric" field="_id"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="_sname"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="_gender"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="numeric" field="_std"></p-columnFilter>
        </th>
        <th>
<!--          <p-columnFilter type="numeric" field="_ftname"></p-columnFilter>-->
        </th>

      </tr>

    </ng-template>
    <ng-template pTemplate="body" let-st>
      <tr>
          <td>{{st._id}}</td>
          <td>{{st._sname}}</td>
        <td>{{st._gender}}</td>
        <td>{{st._std}}</td>
<!--        <td>{{st._ftname}}</td>-->


        <td >
          <p-button icon="pi pi-trash" [rounded]="true" severity="danger" (click)="delete(st.id)" ></p-button>
          <p-button icon="pi pi-pencil" [rounded]="true" severity="warning" (click)="updaterecord(st)" ></p-button>
        </td>
      </tr>
<!--      <ng-template pTemplate="emptymessage">-->
<!--        <tr>-->
<!--          <td colspan="4">No customers found.</td>-->
<!--        </tr>-->
<!--      </ng-template>-->
    </ng-template>
  </p-table>
</div>

